#
# Ignore the files which size > 100 MB
#

# BitTiger
loan.csv
glove.6B.*.txt
glove.6B.zip
BitTiger_DS501/MNIST_data/*

# Yelp
yelp_academic_dataset_*.json
sample_*.json
yelp_dataset.tar
last_2_years_restaurant_reviews.csv

# Music Box
Music_Box/data/*

# European_language_detector
European_language_detector/data/*

# Seeloz
Seeloz_Offer_Letter_Yu-Ting_Shen.pdf
Seeloz_Offer_Letter_Yu-Ting_Shen_new.pdf
Seeloz_Offer_Letter_Yu-Ting_Shen_new_signed.pdf
Seeloz_Proprietary_Information_and_Inventions_Agreement_TYS.pdf
